<html>

<head>
    <style type="text/css">
        .tg {
            border-collapse: collapse;
            border-spacing: 0;
        }

        .tg td {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
        }

        .tg th {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
        }

        .tg .tg-0lax {
            text-align: left;
            vertical-align: top
        }
    </style>
</head>

<body>
    <table class="tg">
        <thead>
            <tr>
                <th class="tg-0lax">Call Id</th>
                <th class="tg-0lax">Time</th>
                <th class="tg-0lax">ccNumber</th>
                <th class="tg-0lax">Caller Number</th>
                <th class="tg-0lax">Direction</th>
                <th class="tg-0lax">Agent</th>
                <th class="tg-0lax">Wait time</th>
                <th class="tg-0lax">Duration</th>
            </tr>
        </thead>
        <tbody>
            {{#each this}}
            <tr>
                <td class="tg-0lax">{{callId}}</td>
                <td class="tg-0lax">{{timestamp}}</td>
                <td class="tg-0lax">{{callData.ccNumber}}</td>
                <td class="tg-0lax">{{callData.callerNumber}}</td>
                <td class="tg-0lax">{{callData.direction}}</td>
                <td class="tg-0lax">{{agentData.agentName}}:{{agentData.agentId}}</td>
                <td class="tg-0lax">{{waitingTime.value}} {{waitingTime.unit}}</td>
                <td class="tg-0lax">{{duration.value}} {{duration.unit}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>

</html>
